<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report">

    <resultMap id="reportResultMap" type="com.revaluper.crud.dto.ReportDTO">
        <id property="repNo" column="rep_No"/>
        <result property="repTitle" column="rep_Title"/>
        <result property="repContent" column="rep_Content"/>
        <result property="repDate" column="rep_Date"/>
        <result property="repId" column="rep_Id"/>
        <result property="repPrc" column="rep_Prc"/>
        <result property="hits" column="hits"/>
    </resultMap>

    <insert id="save" parameterType="com.revaluper.crud.dto.ReportDTO">
        INSERT INTO report2 (
                            rep_Title
                            ,rep_Content
                            ,rep_Date
                            ,rep_Id
                            ,rep_prc
                            ,hits
                            )
        VALUES (
                #{ repTitle }
                ,#{ repContent }
                ,#{ repDate }
                ,#{ repId }
                ,#{repPrc}
                ,#{hits}
               )
    </insert>

    <select id="findAllReport" resultMap="reportResultMap">
        SELECT REP_NO
               ,REP_TITLE
               ,REP_CONTENT
               ,REP_DATE
               ,REP_ID
               ,REP_PRC
               ,hits
          FROM REPORT2
    </select>

    <update id="updateHits" parameterType="String">
        UPDATE REPORT2
           SET Hits=Hits+1
         WHERE rep_id=#{repId}
    </update>

    <select id="findById" parameterType="String" resultType="com.revaluper.crud.dto.ReportDTO">
        SELECT REP_NO
             ,REP_TITLE
             ,REP_CONTENT
             ,REP_DATE
             ,REP_ID
             ,REP_PRC
             ,hits
        FROM REPORT2
        WHERE REP_id=#{repId}
    </select>
    <update id="update">
        update report2
           set rep_title=#{repTitle}
               , rep_content=#{repContent}
         WHERE rep_id=#{repId}
    </update>
    <delete id="delete" parameterType="string">
        delete from report2
        where rep_Id=#{repId}
    </delete>

</mapper>